
DisneyAddWatchlistAnimation/DisneyAddWatchlistAnimation.xcodeproj/project.xcworkspace/contents.xcworkspacedata
DisneyAddWatchlistAnimation/DisneyAddWatchlistAnimation.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DisneyAddWatchlistAnimation/DisneyAddWatchlistAnimation.xcodeproj/project.xcworkspace/xcuserdata/adso0001.xcuserdatad/UserInterfaceState.xcuserstate
DisneyAddWatchlistAnimation/DisneyAddWatchlistAnimation.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcschemes/xcschememanagement.plist
